.leaflet-label {	
	border: solid 1px #B25900;	
	background-clip: padding-box;	
	border-radius: 5px;
	background: #FF8000;
	color: #fff;
	display: block;
	font-family: "Open Sans";	
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: 500;
	/*padding: 2px 4px;*/
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	z-index: 6;
	height: 20px;
	line-height: 9px;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
}

.leaflet-label span {
	display: inline-block;	
	padding: 0 6px;
	position: relative;
	top: -5px;
}

.leaflet-label a {
	display: inline-block;	
	border-left: solid 1px #B25900;	
}


.leaflet-label a img {
	margin: 3px;	
}

.leaflet-label.highlight {
	border-color: #860D00;
	background-color: #B73103;
}

.leaflet-label.highlight a {
	border-left-color: #860D00;
}
.leaflet-label.straightLable {
	background-color: #036ED9;
	border-color: #0259A6;
}
.leaflet-label.straightLable a{
	border-left-color: #0259A6;
} 

.leaflet-label.marker-start span{
	top: 4px;
	padding: 0 5px;
}


.leaflet-label.label-read-only a {
	display: none;
}
.leaflet-label.label-read-only span {
	top: 5px;
}