/* Atomic elements  */

	.vertical-align {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.horizontal-align {
		margin: 0 auto;
		display: block;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	}

	.relative {
		position: relative;
	}

	.container {
		padding: 20px;
	}

/* Resets  */

	body, h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 0;
		color: #0B2847;
	}

	input:focus, select:focus, textarea:focus, button:focus {
	    outline: none;
	}

/* General  */

	body {
	    font-family: 'Open Sans';
	    background-color: #EAEAEA;
	}

	nav {
		height: 80px;
		background-color: #0B2847;
	}

	nav a {
		text-decoration: none;
		font-size: 16px;
		display: inline-block;
		color: #fff;
	}

	p {
		line-height: 150%;
		color: #0B2847;
	}

	p a:hover{
		color: #f05951;
	}

	.menu {
		float: right;
		display: block;
	}

	.menu div {
		float: left;
	}

	.button {
		padding: 10px 20px 10px 20px;
		background-color: #0B2847;
		color: #fff;
		font-size: 12px;
		border-radius: 5px;
		text-align: center;
		width: 150px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.button a{
		color: #fff;
		text-decoration: none;
	}

	.button-logo {
		height: 80px;
		width: 80px;
		float: left;
		background-image: url(../img/logo.svg);
		background-repeat: no-repeat;
		background-size: 36px 50px;
		background-position: center;
		position: relative;
		overflow: visible;
	}

	.button-logo span {
		position: absolute;
		left: 70px;
		top: -7px;
		width: 200px;
		font-size: 24px;
		line-height: 80px;
	    font-family: 'Montserrat';
	}

	.button-logo span:after {
		content: "ALPHA";
		display: block;
		font-size: 10px;
		color: #f05951;
		position: absolute;
		top: 18px;
		left: 0;
	}

	.button-add-trail, .button-edit-trail {
		height: 80px;
		line-height: 80px;
	    font-family: 'Montserrat';
		color: #fff;
		float: right;
		text-align: right;
		padding: 0 30px 0 30px;
	}

	.button-finish-trail {
		height: 80px;
		line-height: 80px;
	    font-family: 'Montserrat';
		color: #EF5951;
		padding: 0 30px 0 30px;
		text-decoration: none;
	}


/* Trail List  */

	.trail-list {
		padding: 40px;
		margin: 0;
		list-style: none;
	}

	.trail-list li {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 80px;
		background-color: #fff;
		border-left: 1px solid #DDDDDD;
		border-bottom: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
	}

	.trail-list li:first-child{
		border-top: 1px solid #DDDDDD;
	}

	.trail-list li:hover  {
		background-color: #EDF1F6;
	}

	.highlighted  {
		background-color: #F4F8CE !important;
	}

	.trail-list li div {
		padding: 20px 40px 0 40px;	
		font-size: 18px;
		border-left: 1px solid #DDDDDD;
		font-weight: 700;
	}

	.trail-list li div span{
		width: 100%;
		display: block;
		font-size: 10px;
		color: #9BA7B4;
		font-weight: 600;
	}

	.trail-title {
		width: 40%;
		margin-right: auto;
		position: relative;
		text-overflow: ellipsis;
 		white-space: nowrap;
  		overflow: hidden;
	}

	.trail-title span{
		height: 17px;
		line-height: 17px;
		background-image: url(../img/trailhead.svg);
		background-repeat: no-repeat;
		background-size: 12px 12px;
		background-position: left 3px;
		text-indent: 15px;
	}

	.button-delete, .button-edit, .button-embed  {
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: center;
		padding: 0;
		position: relative;
	}

	.button-delete {
		background-image: url(../img/delete.svg);
		display: none;
	}

	.button-edit {
		background-image: url(../img/edit.svg);
	}

	.button-embed {
		background-image: url(../img/embed.svg);
	}

	@media (max-width: 960px) {
		.trail-list {
			padding: 20px 10px 20px 10px;
		}

		.trail-list li div {
			padding: 20px 20px 0 20px;	
			font-size: 14px;
		}

		.button-delete, .button-edit, .button-embed  {

	  	}
	}

	@media (max-width: 720px) {
			.trail-list {
			padding: 20px 5px 20px 5px;
		}

		.trail-list li div {
			padding: 20px 8px 0 8px;	
			font-size: 12px;
		}

	}

	.button-delete:hover, .button-embed:hover, .button-edit:hover {
		background-color: #EDF1F6;
	}


/* Toolbar  */

	.toolbar {
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 12px;
		display: flex;
		margin: 40px;
		background-color: #0B2847;
		border-radius: 5px;
		/*width: 450px;*/
	}

	.toolbar div {
		border-right: 1px solid rgba(255,255,255,.15);
		padding: 0 20px 0 20px;
	}

	.button-draw {
		background-image: url(../img/edit-draw.svg);
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: 15px center;
		width: 70px;
		text-indent: 20px;
	}

	.button-delete-all {
		background-image: url(../img/edit-delete.svg);
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: 15px center;
		width: 100px;
		text-indent: 20px;
	}

	.toolbar .search{
		margin-right: auto;
		padding-right: 20px;
		border-right: 0;
	}

	.toolbar .search input {
		background-color: rgba(255,255,255,0);
		height: 50px;
		color: #fff;
		border: 0;
		font-size: 12px;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: 20px center;

	}

	/*
	div.color-snapped{
		background-color: #FF8000;
	}

	div.color-unsnapped{
		background-color: #006DD9;
	}
	*/

/* Markers */

	.marker-box {
		margin: 40px;
	}

	.marker {
		display: inline;
		height: 20px;
		padding: 2px 4px 2px 4px;
		position: relative;
		border-radius: 5px;
		font-size: 9px;
		letter-spacing: 1px;
		font-weight: 500;
		color: #fff;
		position: relative;
		overflow: hidden;
	}

	.marker b{
		padding-right: 20px;
	}

	.marker b:after{
		content:"Mi";
		font-weight: 500;					
	}

	/* inside border */
	.marker:before {
		content:"";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid transparent;
	}

	/* outside border */
	.marker:after {
		content:"";
		z-index: 100;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -4px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 3px solid transparent;
	}

	/* start marker */
	.marker-start {
		background-color: #000;
		border: 1px solid #000;
		text-transform: uppercase;
	}

	.marker-start:before {
		border-top-color: #000;
	}

	/* snapped marker */
	.marker-distance {
		border: 1px solid #B25900;
		background-color: #FF8000;
	}

	.marker-distance:before{
		border-top-color: #B25900;
	}

	.marker-distance:after{
		border-top-color: #FF8000;
	}

	/* unsnapped marker */
	.marker-distance-unsnapped {
		border: 1px solid #0059B2;
		background-color: #006DD9;
	}

	.marker-distance-unsnapped:before{
		border-top-color: #006DD9;
	}

	.marker-distance-snapped:after{
		border-top-color: #0059B2;
	}				

	.button-delete-segment {
		background-image: url(../img/edit-delete.svg);
		background-repeat: no-repeat;
		background-size: 12px 12px;
		background-position: center;
		width: 20px;
		border-left: 1px solid rgba(0,0,0,.15);
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	/* Snapped Map Marker */
	.marker-map {
		width: 9px;
		height: 9px;
		border-radius: 50%;
		border: 1px solid #B25900;
		background-color: #FF8000;
	}

	.marker-map-unsnapped {
		width: 9px;
		height: 9px;
		border-radius: 50%;
		border: 1px solid #0059B2;
		background-color: #006DD9;
	}

/* Detail */

	#detail .title-header {
		padding: 0;
	}

	.title-header form {
		width: 80%;
		margin-right: auto;
	}

	.title-header input {
		padding: 15px 0 3px 0;
		margin-left: 40px;
		font-size: 16px;
		border: 0;
		width: 80%;
		color: #0B2847;
		border-bottom: 2px solid #0B2847;
		margin-top: 15px;
	}

	#detail .trail-list li {
		border: 0;
	}

	#detail .trail-list li:hover {
		background-color: #fff;	
	}

/* Modal */

	.modal-embed {
		position: fixed;
		z-index: 100;
		top: 20%;
		left: 43%;
		width: 480px;
		background-color: #EFEFEF;
		border-radius: 5px;
		z-index: 100;
		color: #0B2847;
		font-size: 12px;
	    box-shadow: 0px 0px 20px rgba(0,0,0,.33);
	}

	#detail .modal-embed {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.modal-embed h3 {
		background-color: #0B2847;
		color: #fff;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		font-size: 14px;
		font-weight: 500;
		height: 40px;
		line-height: 40px;
		text-indent: 20px;
	}

	.modal-embed h3 span {
		float: right;
		width: 60px;
		height: 40px;
		background-image: url(../img/button-close.svg);
		background-repeat: no-repeat;
		background-size: 12px 12px;
		background-position: center;
	}

	.modal-embed form{
		margin: 0;
		padding: 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.embed-width, .embed-height {
		position: relative;
		width: 48%;
	}

	.embed-width input, .embed-height input {
		height: 40px;
		border-radius: 3px;
		border: 1px solid #D2D2D2;
		text-indent: 10px;
		font-size: 18px;
		font-weight: 600px;
	    font-family: 'Montserrat';
	    width: 98%;
	}

	.embed-width:after, .embed-height:before{
		position: absolute;
		height: 30px;
		right: 15px;
		top: 15px;
		font-size: 12px;
		color: #C8C8C8;
	}

	.embed-width:after{
		content:"Width PX";
	}

	.embed-height:before{
		content:"Height PX";
	}

	.button-generate-code {
		margin: 10px 0 20px 0;
		background-color: #EF5951;
		border-radius: 5px;
		height: 40px;
		line-height: 40px;
		color: #fff;
		text-align: center;
		font-size: 14px;
		cursor: pointer;
	}

	.modal-embed p {
		margin: 10px 0 10px 0;
		padding-top: 10px;
		border-top: 1px solid #D2D2D2;
		display: block;
	}

	.modal-embed .button-close {
		cursor: pointer;
	}

	.embed-code {
		font-size: 12px;
		color: #8E8E8E;
		padding: 20px;
		background-color: #fff;
		border: 1px solid #D2D2D2;
		border-radius: 3px;
		resize: none;
	}

/* Embed */

	.embed-header {
		padding: 6px 0 6px 0px;
		background-color: rgba(0,0,0,.25);
		color: #fff;
		width: auto;
		display: inline-block;
	    font-family: 'Open Sans';
	    font-size: 10px;
	    font-weight: 400;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1000;
	    letter-spacing: 1px;
	}

	.embed-header ul {
		padding: 0 0 0 10px;
		margin: 0;
		list-style: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
	}

	.embed-header li {
		padding: 2px 10px 2px 10px;
		border-right: 1px solid #fff;
	}

	.embed-header li:last-child {
		padding-right: 20px;
		border-right: 0;
	}

	.embed-logo {
		background-image: url(../img/logo-embed.png);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 12px 16px;
		padding-left: 0;
		text-indent: 10px;
	}

	/* Intro */

	header {
		width: 100%;
		position: relative;
		padding-top: 45%;
		overflow: hidden;
		text-align: center;
	}

	header a{
	}

	#video-viewport {
	    position: absolute;
	    top: 0;
	    z-index: -1; /* for accessing the video by click */
	    overflow: hidden;
	}

	.about {
		text-align: center;
		background-color: #fff;
		padding: 40px 0 40px;
		border-top: 1px solid #DDDDDD;
	}

	.about a{
		color: #0B2847;
	}


	.about p {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	.mark {
		width: 20px;
		height: 40px;
		margin: 0 auto;
		background-image: url(../img/mark.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

/* License */
	#license {
		background-color: rgba(11,40,71,.95);
	}

	#license h1, #license p, #license a {
		color: #fff;
	}

	#license h1 {
		margin: 40px 0 40px 0;
	}

	#license div {
		padding: 40px;
		max-width: 800px;
	}


/* Footer */

	footer {
		color: #fff;
		background-size: cover;
		background-image: url(../img/footer-background.png);
		background-repeat: no-repeat;
	}

	footer section {
		background-color: rgba(11,40,71,.90);
		padding: 40px;
	}

	footer a, footer p{
		color: #fff;
		font-size: 12px;
	}

	footer div {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}

	.footer-logo {
		background-image: url(../img/footer-logo.svg);
		background-repeat: no-repeat;
		background-position: left center;
		text-indent: 20px;
	}

	.footer-feedback {
		background-image: url(../img/footer-feedback.svg);
		background-repeat: no-repeat;
		background-position: left 3px;
		text-indent: 20px;
	}

	.footer-facebook {
		background-image: url(../img/footer-facebook.svg);
		background-repeat: no-repeat;
		background-position: right center;
		width: 150px;
		height: 20px;
		text-align: right;
		text-indent: 40px;
	}